<h1>My Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  
  
  <li>
    <p><strong><%= link_to 'Show', task_path(task)%></strong></p>
    <%= link_to(
            check_box_tag (:task, :completed, task.completed) ,
        "/tasks/#{task.id}/complete/#{!task.completed}") %>
    
</li>
    <%end %>
</ul>
  
  <%= link_to 'New Task', new_task_path(task) %>
  
  
  